
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f8ff;
    color:#333;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#0d47a1;
    color:white;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
    transition:0.3s;
}

nav a:hover{
    color:#ffd54f;
}

.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(135deg,#1565c0,#42a5f5);
    color:white;
    padding:20px;
}

.hero-content{
    max-width:700px;
    display:block;
    opacity:1;
    visibility:visible;
    position:relative;
    z-index:2;
}

.hero h1{
    font-size:48px;
    margin-bottom:15px;
}

.hero h2{
    font-size:30px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    line-height:1.7;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    padding:15px 35px;
    background:#ff9800;
    color:white;
    text-decoration:none;
    border-radius:50px;
    font-size:18px;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    background:#f57c00;
    transform:scale(1.05);
}

@media(max-width:768px){

header{
    flex-direction:column;
}

nav{
    margin-top:15px;
}

nav a{
    display:block;
    margin:10px 0;
}

.hero h1{
    font-size:34px;
}

.hero h2{
    font-size:24px;
}

.hero p{
    font-size:18px;
}
}

.about,
.courses{
    padding:60px 8%;
    text-align:center;
}

.about{
    background:#ffffff;
}

.courses{
    background:#eef5ff;
}

.about h2,
.courses h2{
    font-size:36px;
    color:#0d47a1;
    margin-bottom:20px;
}

.about p{
    max-width:800px;
    margin:auto;
    font-size:18px;
    line-height:1.8;
}

.course-card{
    display:inline-block;
    width:300px;
    margin:15px;
    padding:25px;
    background:white;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
    vertical-align:top;
}

.course-card h3{
    color:#1565c0;
    margin-bottom:15px;
}

.course-card p{
    line-height:1.6;
}

.contact{
    padding:60px 8%;
    background:#ffffff;
    text-align:center;
}

.contact h2{
    font-size:36px;
    color:#0d47a1;
    margin-bottom:30px;
}

#trialForm{
    max-width:500px;
    margin:0 auto;
}

#trialForm input{
    width:100%;
    padding:15px;
    margin:12px 0;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

#trialForm button{
    width:100%;
    border:none;
    cursor:pointer;
}


.hero img{
    width:200px;
    height:200px;
    border-radius:50%;
    object-fit:cover;
    display:block;
    margin:0 auto 20px;
    border:5px solid white;
}
